#buddypress .bp-nav-wrapper {
	position: relative;
}

#buddypress .dir-navs ul.types-nav,
#buddypress .item-list-tabs ul.types-nav {
	box-sizing: border-box;
	font-size: 16px;
}

#buddypress .dir-navs ul.types-nav li span.select-arrow,
#buddypress .item-list-tabs ul.types-nav li span.select-arrow {
	padding: 0;
	display: block;
	float: right;
}

#buddypress .dir-navs ul.types-nav li ul.member-types,
#buddypress .item-list-tabs ul.types-nav li ul.member-types {
	position:absolute;
	display: none;
	background: #FFF;
	z-index: 2;
	border: solid 1px #000;
	border-top-color: #FFF;
	margin-left: -1px;
}

#buddypress .item-list-tabs ul.types-nav li ul.member-types {
	border-color: #CCC;
	border-top-color: #FFF;
}

#buddypress .dir-navs ul.types-nav li ul.member-types li,
#buddypress .item-list-tabs ul.types-nav li ul.member-types li {
	float:left;
	width: 100%;
}

#buddypress .dir-navs ul.types-nav.opened li ul.member-types,
#buddypress .item-list-tabs ul.types-nav.opened li ul.member-types {
	display: block;
}

#buddypress .item-list-tabs ul.types-nav li.select-wrap {
	border: 1px solid #CCC;
	background: #FFF;
	border-radius: 2px;
	background-clip: padding-box;
}

#buddypress .item-list-tabs ul.types-nav li span.select-arrow  {
	border: none;
	background: transparent;
	position: relative;
	z-index: 0;
	margin-top: 4px;
}

#buddypress .item-list-tabs ul.types-nav li span.select-arrow:before {
	font-family: dashicons;
	content: "\f140";
	color: #000;
}

#buddypress .dir-navs ul.types-nav.opened li span.select-arrow,
#buddypress .item-list-tabs ul.types-nav.opened li span.select-arrow {
	transform: rotate(180deg);
}

@media screen and (min-width: 46.8em) {

	#buddypress .dir-navs ul.types-nav,
	#buddypress .item-list-tabs ul.types-nav {
		float: right;
	}
}
